.gem-box{
	display: block;
	position: absolute;
	opacity: .4;
	// background-color: rgba(255,255,255,.1);
	// box-shadow: 0px 0px 55px 19px rgba(255,255,255,0.47);
	border-radius: 50%;
	&:hover{
		opacity: 1;
	}
	&:focus{
		opacity: 1;
	}
	&:active{
		opacity: 1;
	}
	&:visited{
		opacity: 1;
	}
}
.gem{
	width:50px;
	top: 60%;
	left: 10%;
}
.creature-box{
	@extend .gem-box;
	opacity: .7;
}
.creature{
	width:70px;	
}