.gem-box{
	widows: 50px;
	// display: block;
	position: absolute;
	opacity: .4;
	// background-color: rgba(255,255,255,.1);
	// box-shadow: 0px 0px 55px 19px rgba(255,255,255,0.47);
	border-radius: 50%;
	&:hover{
		opacity: 1;
	}
	&:focus{
		opacity: 1;
	}
	&:active{
		opacity: 1;
	}
	&:visited{
		opacity: 1;
	}
}
.gem{
	width:50px;
	top: 60%;
	left: 10%;
}
.creature-box{
	@extend .gem-box;
	width:70px;
	opacity: .7;
}
.battle-message-creature{
	position: absolute;
	left:20px;
	top: 20px;
	width:100px;
	height:30px;
	text-align: center;
	font-size: 20px;
	color:white;
	display: hide;
}
.creature-img{
	width:70px;	
}
.creature-img-reverse{
	width:70px;
	transform: scaleX(-1);
    filter: FlipH;
    display: none;
}